<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet"  type= "text/css" href= "{{ url_for('static',filename='styles/aboutstyle.css') }}" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  </head>
  <body>
    
    <div class="services-section">
      <div class="inner-width">
        <h2 class="section-title">ABOUT US</h2>
        <div class="border"></div><br><br>
        <h2 class="section-title">CONTAINMENT ZONE ALERTING APPLICATION</h2><br><br>
        <div class="a">
        <p >Containment zone alerting application provides efficient support to the users in solving their problems or queries about the containment zone . When a customer has a simple query and does not know how to 
          find the affected zones,the containment zone alerting application helps
          them in providing answers for the frequently
          asked questions.</p>
        
        <br>
        <p>
          This model helps in improving the performance and productivity of the organization as graphical solutions facilitates decision making and saves time. With visuals being more effective than texts in human understanding, graphical solutions helps in saving time of the busy higher officials of the organization.

        </p>
        
        </div>
        <br>
        <br>
        <div class="b">
        <h1>KEY FEATURES</h1><br>
          <p>Delivering Respect to Your user</p><br>
           <p>Communicate Clearly With the user</p><br>
           <p>A Positive Attitude</p><br>
         <p>Product and Service Expertise</p><br>
          <p>Plan Budget</p><br>
          <p>Easy to use</p><br>
          <p>Easy accesibility</p>
        
        
        
        </div>
       <br><br><br>
        <h3 class="section-title">Other Features</h3>
        <div class="border"></div>
        <div class="services-container">

          <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-paint-brush"></i>
            </div>
            <div class="service-title">Custom Features</div>
            <div class="service-desc">
             Many customized and user-friendly features are added for user's comfort
            </div>
          </div>

          <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-code"></i>
            </div>
            <div class="service-title">Alert Feature</div>
            <div class="service-desc">
             Notifications can be sent through mail and sms
            </div>
          </div>

          <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-brush"></i>
            </div>
            <div class="service-title">Responsive </div>
            <div class="service-desc">
              Responsiveness feature is also added for flexibility
            </div>
          </div>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-object-ungroup"></i>
            </div>
            <div class="service-title">Update Expenses</div>
            <div class="service-desc">
              User can update any address at anytime and get detailed view of the address.
            </div>
          </div>
          &nbsp; &nbsp; &nbsp; &nbsp;   
          <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-database"></i>
            </div>
            <div class="service-title">Save reports</div>
            <div class="service-desc">
              Also able to save their analysis reports 
            </div>
          </div>
          &nbsp; &nbsp; &nbsp; &nbsp;   
          <div class="service-box">
            <div class="service-icon">
              <i class="fab fa-android"></i>
            </div>
          <div class="service-title">Report Generator tool</div>
            <div class="service-desc">
              User can able to bookmark and also generate the reports
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
