<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>
		CONTAINMENT ZONE ALERTING APPLICATION
	</title>
	<style>
		body{background: -webkit-linear-gradient(right, #f0554a, wheat);
			
		}
	</style>
</head>
<body background="1.jpg" link="#000" alink="#017bf5" vlink="#000">
	<br />
	<h3 align="center">
		
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<font face="cinzel" size="4">
			<a href="logi">LOGIN/SIGN UP</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="about">ABOUT</a>&nbsp;&nbsp;&nbsp;&nbsp;
			
			<a href="contact">CONTACT US</a>
		</font>
	</h3>
	<br /><br />
	<h1 align="center">
		<font face="Lato" color="#017bf5" size="7">
			CONTAINMENT ZONE ALERTING APPLICATION
		</font>
	</h1>
	<h3 align="center">
		<font face="Lato" color="#000" size="5">
			<strong>“DISCOVER A WORLD WITHOUT MASK”</strong>
		</font>
	</h3>
	<br />
	<h3 align="center">
	<a href="https://en.wikipedia.org/wiki/Expense_management">
		<font face="Lato" color="#000">GET STARTED</font>
	</a>&nbsp;&nbsp;&nbsp;&nbsp;
	
	</h3><br>

	<h2 align="center">
		<font face="Lato" color="#056bf5" size="5"><u>WELCOME</u></font></h2>
		<h4 align="center">TO THE APPLICATION</h4>
		

	
</body>
</html>